body{
    
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    background: url(./bg1.jpg);
    background-size: cover;
}


.image-container {
    display: flex;
    gap: 30px;
    position:absolute;
    top:30%;
    left: 20%;
}

.image-container img {
    width: 200px;
    height: 200px;
    cursor: pointer;
    border: 2px solid transparent;
    border : 2px solid;
    border-color: black;
    
}
.image-container img.selected {
    border-color: blue;
}
.select_button {
    margin-top: 20px;
    position: relative;
   
}