body {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
#board{
    width: 800px;
    height: 540px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    background: url("./soil.png");
    background-size: cover;
    border:3px solid white;

}


#wall1 {
    background-size: 15%;
    width: 800px;
    height: 3ch;
    top: 30%;
    position:absolute;
    background-image: url('./block.png');
}

#wall2{
    background-size: 20%;
    width: 610px;
    height: 3ch;    
    top: 50%;
    position: absolute;
    background-image: url('./block.png');

}

#wall3{
    background-size: 50%;
    width: 270px;
    height: 3ch;
    
    top: 67%;
    position: absolute;
    background-image: url('./block.png');
    margin-left: 480px;
    transform: rotate(90deg);
}
#wall4{
    background-size: 29%;
    width: 400px;
    height: 3ch;
    
    top: 58%;
    position: absolute;
    background-image: url('./block.png');
    margin-left: 588px;
    transform: rotate(90deg);
}

